@model AlwaysLightsOnManagement.ReportedIssue

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReportedIssue</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportedDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFixed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFixed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IssueId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
